* {
    border: none;
    font-size: 14px;
    font-family: "Rubik", sans-serif; ;
    font-weight: bold;
    min-height: 30px;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
  color: #5fd1fa;
}

.modules-right {
  padding-left: 5px;
  border-radius: 0 0 15px 15px;
  margin-top: 2px;
  background: transparent;
}

.modules-center {
  padding: 0 5px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: transparent;
}

.modules-left {
  border-radius: 15px 15px 0 0;
  margin-top: 2px;
  background: transparent;
}

#battery{
  color: #5fd1fa;
}

#bluetooth{
  color: #5fd1fa;
}

#pulseaudio{
  color: #5fd1fa;
}

#network{
  color: #5fd1fa;
}

#disk{
  color: #5fd1fa;
}

#memory{
  color: #5fd1fa;
}

#backlight,

#cpu{
  color: #5fd1fa;
}

#temperature{
  color: #5fd1fa;
}

#workspaces button {
    color: #5fd1fa;       /* color de texto/icono de los workspaces */
    background: transparent; /* fondo de cada workspace */
    border: none;           /* quitar bordes si quieres */
}

#workspaces button.active {
    color: #ffffff;          /* color del texto del workspace activo */
}



#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}




#clock{
  color: #5fd1fa;
}

#battery.charging {
    color: #000000;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
